hr{
    margin: 0;
}

.rodape{
    background: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width:1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.7em 0;
    }

    .lista-rodape__titulo{
        color: var(--cinza2);
        font-size: 14px;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.5em;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
    }

    .lista-rodape__item:hover {
        color: var(--laranja);
        background-color: var(--branco);
    }
}

@media screen and (min-width:1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza2);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}